/*common style*/
body{
    background: url('../images/bg.jpg') 0 0 no-repeat;
    background-size: 100%;
    font-family: Cambria,Palatino,"Palatino Linotype","Palatino LT STD",General,serif;
    font-size: 14px;
    color: #3a2127;
    font-weight: 400;
    min-width: 1200px;
}
/*header*/
header{
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .25);
}

h1{
    font-size: 50px;
    color: rgba(26, 89 , 120, .9);
    margin-top: 20px;
}

h1 span{
    color: #7cbcd6;
}

nav a{
    display: inline-block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    line-height: 70px;
    text-align: center;
    background-color: rgba(104,171,194,.9);
    margin: 20px;
    font-style: italic;
    font-weight: 800;
    color: #fff;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .1) inset;
}

nav a.active{
    color: #666;
    background-color: #abcdef;
}

nav a:not(.active):hover{
    background-color: #4fa2c4;
}

/* banner */
.banner{
    width: 560px;
    height: 300px;
    margin: 30px auto;
    position: relative;
    border: 20px solid #ccc;
}

input{
    display: none;
}

label{
    font-style: italic;
    width: 140px;
    height: 30px;
    cursor: pointer;
    color: #fff;
    font-size: 24px;
    text-align: center;
    line-height: 32px;
    margin-top: 250px;
    float: left;
    position: relative;
    z-index: 999;
}

label:before{
    content: "";
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: rgba(130, 195, 217, .9);
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    z-index: -1;
    box-shadow: 0 0 0 4px rgba(255, 255, 255, .3)
}

input:checked + label{
    color: #68abc2;
}

input:checked + label:before{
    background-color: #fff;
    box-shadow: 0 0 0 4px rgba(104, 171, 194, .6)
}